*{
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;

}
.container{
    position: relative;
    width: 400px;
    height: 555px;
    display: flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.Search-box{
    position: relative;
    width: 100%;
    height: 55px; 
    border-radius: 5px;
    background-color: slateblue;
 

}
.Search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    
    border:none;
    outline : none;
    border-radius: 5px;

}
.Search-box input ::placeholder{
    font-size: 35px;
    text-align: center;
}
